<style>
    .col-inner p img {
        width: 100%;
        height: auto;
        max-width: 888px; /* giữ giới hạn ảnh gốc nếu cần */
        max-height: 300px; /* giữ giới hạn ảnh gốc nếu cần */
        border-radius: 8px; /* bo góc nhẹ, tùy chọn */
        display: block;
        margin: 0 auto; /* căn giữa ảnh */
    }
</style>
<section class="section-details-product testimonial">
    <div class="container">
        <div class="wrap-details">
            <div class="gallery-product">
                <div class="swiper thumb-big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV2.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV3.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV4.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV5.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV6.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV7.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV8.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV9.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV10.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV11.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV12.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper thumb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV2.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV3.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV4.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV5.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV6.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV7.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV8.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV9.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV10.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV11.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Hondat-CRV12.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-button-prev">

                    </div>
                    <div class="swiper-button-next">

                    </div>
                </div>
            </div>

            <div class="product-card">
                <h1 class="product-title">Honda CR-V</h1>

                <div class="product-top">
                    <div class="product-price">
                        <span class="price-min"> 1.029.000.000 VNĐ</span>

                    </div>

                    <div class="">
                        <h2 style="border-radius: 3px; background-color: #e0e0e0; padding: 5px; font-size: 100%;">Honda CR-V 2025 Giá Xe Lăn Bánh Tháng 10/2025 ( Chi Tiết Từng Phiên Bản )</h2>
                        <ul style="font-size: 90%; color: black; text-transform: uppercase; padding-top: 5px; line-height: 20px;">
                            <li>Honda CR-V G - 7 chỗ(Trắng, đen, xám):<span style="color: #de0000;"> 1.029.000.000 VNĐ</span></li>
                            <li>Honda CR-V L - 7 chỗ(Đỏ đậm):<span style="color: #de0000;"> 1.107.000.000 VNĐ</span></li>
                            <li>Honda CR-V L - 7 chỗ(Màu khác):<span style="color: #de0000;"> 1.099.000.000 VNĐ</span></li>
                            <li>Honda CR-V L AWD - 7 chỗ(Đỏ đậm):<span style="color: #de0000;"> 1.258.000.000 VNĐ</span></li>
                            <li>Honda CR-V L AWD - 7 chỗ(Màu khác):<span style="color: #de0000;"> 1.250.000.000 VNĐ</span></li>
                            <li>Honda CR-V RS HEV 5 chỗ(Đỏ đậm, Trắng):<span style="color: #de0000;"> 1.267.000.000 VNĐ</span></li>
                            <li>Honda CR-V RS HEV 5 chỗ(Màu khác):<span style="color: #de0000;"> 1.259.000.000 VNĐ</span></li>
                        </ul>
                        <p style="border-radius: 3px; background-color: #de0000; padding: 5px; color: white; font-size: 80%;">
                            KHUYẾN MÃI &amp; ƯU ĐÃI<br>
                            <em>
                                *Quý Khách Liên Hệ SĐT/ Zalo:<a style="color: white;" href="tel:0901216386"> 090.121.6386</a> Để Được Nhận Thêm Khuyến Mại Từ 5 đến 20.000.000 VNĐ<br>
                                * Hỗ Trợ Trả Góp Lên Đến 90% Giá Trị Xe<br>
                                * Hỗ Trợ 100% Thuế Trước Bạ<br>
                                * Tặng Gói Phụ Kiện Cao Cấp Chính Hãng<br>
                                * Tặng Thẻ Dịch Vụ Vip Bảo Dưỡng<br>
                                * Bảo Hành Chính Hãng 3 Năm
                            </em>
                        </p>
                    </div>
                </div>
                <div class="row row-small" id="row-1389169234">
                    <div id="col-2056002333" class="col medium-7 small-12 large-7 about-omori" style="padding:0!important">
                        <div class="about-content">

                            <a href="#popup" class=" btn-primary open-popup">
                                <i class="icon-gift" aria-hidden="true"></i>	<span>Đăng ký</span>
                            </a>
                        </div>

                        <style>
                            #col-2056002333 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                    <div id="col-36535275" class="col medium-5 small-12 large-5 about-omori" style="padding:0!important">
                        <div class="about-content">
                            <a href="tel:0901216386" class=" btn-primary">
                                <i class="icon-phone" aria-hidden="true"></i>	<span>0901216386</span>
                            </a>
                        </div>
                        <style>
                            #col-36535275 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                </div>
                <hr class="divider" />

                <!-- ACCORDION SECTION -->

            </div>

        </div>

        <h3 class="title">Mô tả</h3>
        <div class="tab-panels">
            <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">


                <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-231025-g-00.jpg" alt="Honda HR-V"></p>
                <p><a><strong>Honda CR-V 2025</strong></a> chính thức ra mắt với nhiều nâng cấp về thiết kế, công nghệ và an toàn. Tại đại lý Honda Phạm Văn Đồng, chúng tôi cập nhật chi tiết giá lăn bánh Honda CR-V tháng 10/2025 cho từng phiên bản, kèm theo các ưu đãi, khuyến mãi và chương trình trả góp hấp dẫn. Đây là lựa chọn hoàn hảo cho những ai đang tìm kiếm một chiếc SUV 7 chỗ gia đình tiện nghi, an toàn và mạnh mẽ.</p>
                <div id="gap-2036623518" class="gap-element clearfix" style="display:block; height:auto;">

                    <style>
                        #gap-2036623518 {
                            padding-top: 5px;
                        }
                    </style>
                </div>

                <p style="text-align: justify;"><strong>Honda CR-V thế hệ thứ 6 là sự thay đổi toàn diện trên mọi khía cạnh giúp khách hàng tự hào khi sở hữu và tận hưởng nhiều màu sắc trải nghiệm trên mọi cung đường với:</strong></p>
                <ul>
                    <li style="text-align: justify;"><strong>2 tùy chọn động cơ với khả năng vận hành mạnh mẽ mà vẫn tiết kiệm nhiên liệu:</strong> Động cơ Hybrid và động cơ xăng với hệ dẫn động cầu trước và hệ dẫn động 4 bánh AWD.</li>
                    <li style="text-align: justify;"><strong>Lần đầu tiên Honda Việt Nam ra mắt dòng xe Hybrid – CR-V e:HEV RS –</strong> mang lại khả năng vận hành mạnh mẽ vượt trội cùng trải nghiệm phấn khích tuyệt vời sau tay lái, đồng thời đánh dấu bước đầu trên hành trình hiện thực hóa cam kết theo mục tiêu của Chính phủ Việt Nam và Honda Motor: <strong>Trung hòa Carbon vào năm 2050.</strong></li>
                    <li style="text-align: justify;"><strong>An toàn tiên tiến</strong> với hệ thống công nghệ hỗ trợ lái xe an toàn tiên tiến <strong>Honda SENSING</strong> được trang bị trên tất cả các phiên bản giúp tất cả thành viên trên xe luôn an tâm và tận hưởng trọn vẹn niềm vui trong mỗi chuyến đi.</li>
                    <li style="text-align: justify;"><strong>Thiết kế ngoại thất</strong> khỏe khoắn, mạnh mẽ giúp <strong>nâng chất thể thao</strong> vốn có lên một tầm cao mới, đặc biệt trên phiên bản Hybrid e:HEV RS.</li>
                    <li style="text-align: justify;"><strong>Tiện nghi tối đa với khoang nội thất rộng rãi</strong> cùng các hàng ghế linh hoạt phù hợp với phong cách sống đa dạng; Hệ thống kết nối viễn thông ưu việt <strong>Honda CONNECT</strong> trên tất cả các phiên bản giúp chủ sở hữu dễ dàng kết nối, quản lý chiếc xe của mình; Các trang bị, công nghệ hiện đại hỗ trợ tối đa và đem lại sự thoải mái toàn diện cho người lái và hành khách trên xe.</li>
                </ul>

                <div id="ez-toc-container" class="ez-toc-v2_0_76 counter-hierarchy ez-toc-counter ez-toc-grey ez-toc-container-direction">
                    <div class="ez-toc-title-container">
                        <p class="ez-toc-title" style="cursor:inherit">Mục Lục </p>
                        <span class="ez-toc-title-toggle"><a href="#" class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle ez-toc-loaded" aria-label="Toggle Table of Content"><span class="ez-toc-js-icon-con"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #999;color:#999" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #999;color:#999" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></span></a></span>
                    </div>
                    <nav>
                        <ul class="ez-toc-list ez-toc-list-level-1 ">
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-1" href="#Ngoai_that_Honda_CR-V_Thiet_ke_the_thao_thoi_thuong">
                                    Ngoại thất
                                    Honda CR-V. Thiết kế thể thao, thời thượng.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-2" href="#Noi_that_Honda_CR-V_Khong_gian_thoang_dang">
                                    Nội thất
                                    Honda CR-V. Không gian thoáng đãng.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-3" href="#Cong_nghe_Honda_CONNECT">
                                    Công nghệ
                                    Honda CONNECT
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-4" href="#Van_hanh_Honda_CR-V">
                                    Vận hành
                                    Honda CR-V.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-5" href="#An_toan_Honda_CR-V">
                                    An toàn
                                    Honda CR-V.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-6" href="#Honda_SENSING">Honda SENSING</a></li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-7" href="#Cong_nghe_Honda_CR-V_Cong_nghe_e_HEV_HYBRID_tien_tien_vuot_troi">
                                    Công nghệ
                                    Honda CR-V. Công nghệ e:HEV HYBRID tiên tiến vượt trội.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-8" href="#Thu_vien_anh_Honda_CR-V_moi">
                                    Thư viện ảnh
                                    Honda CR-V mới.
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Ngoai_that_Honda_CR-V_Thiet_ke_the_thao_thoi_thuong" ez-toc-data-id="#Ngoai_that_Honda_CR-V_Thiet_ke_the_thao_thoi_thuong"></span><span class="hahss">Ngoại thất</span><br>
                    <span class="hbhss">Honda CR-V. Thiết kế thể thao, thời thượng.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;"><a href="/o-to/honda-cr-v/">Honda CR-V</a> mới mạnh mẽ của chiếc xe SUV đô thị đẳng cấp, Honda CR-V sở hữu kiểu dáng thể thao cao cấp và tinh tế hoàn toàn mới, khơi dậy khí chất uy phong của chủ nhân và mang đến cảm giác mãn nhãn đầy cuốn hút.</p>
                <figure id="attachment_659" aria-describedby="caption-attachment-659" style="width: 1200px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" src="/images/HondaCRV/honda-cr-v-ngoai-that-231025-11.jpg" alt="Ngoại Thất Honda CR-V" width="1200" height="675"><figcaption id="caption-attachment-659" class="wp-caption-text">Ngoại Thất Honda CR-V</figcaption></figure>
                <div class="row row-small align-equal" id="row-464967552">

                    <div id="col-1049766684" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-ngoai-that-231025-12.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">MẶT CA-LĂNG THỂ THAO</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Thiết kế cản trước tinh tế với mặt ca-lăng theo phong cách Polygon mảng khối nổi sống động tạo điểm nhấn đậm tính thể thao.</p>
                        </div>
                    </div>



                    <div id="col-1247835486" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-ngoai-that-231025-13.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CỤM ĐÈN TRƯỚC SẮC SẢO</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Cụm đèn trước tích hợp công nghệ LED hiện đại làm nổi bật diện mạo uy mãnh cho xe.</p>
                        </div>
                    </div>



                    <div id="col-987532993" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-ngoai-that-231025-14.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CỤM ĐÈN HẬU ẤN TƯỢNG</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Cụm đèn hậu vừa sắc sảo vừa tinh tế tạo cảm giác sang trọng cuốn hút</p>
                        </div>
                    </div>



                    <div id="col-598367711" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-ngoai-that-231025-15.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">LA-ZĂNG 18 INCH CUỐN HÚT</h3>
                            <p style="padding: 0px 5px; text-align: justify;">La-zăng hợp kim kích thước 18 inch đa chấu thiết kế phá cách với đường nét thể thao mang lại sự vững chãi mạnh mẽ.</p>
                        </div>
                    </div>



                    <style>
                        #row-464967552 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Noi_that_Honda_CR-V_Khong_gian_thoang_dang" ez-toc-data-id="#Noi_that_Honda_CR-V_Khong_gian_thoang_dang"></span><span class="hahss">Nội thất</span><br>
                    <span class="hbhss">Honda CR-V. Không gian thoáng đãng.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;"><a href="/o-to/honda-cr-v/">Honda CR-V</a> Mới với thiết kế nội thất cao cấp, tinh xảo cùng khoang lái rộng rãi &amp; tầm nhìn đa chiều cho bạn tận hưởng trải nghiệm đầy phấn khích trong mọi hành trình.</p>
                <figure id="attachment_660" aria-describedby="caption-attachment-660" style="width: 1200px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-21.jpg" alt="Nội Thất Honda CR-V" width="1200" height="675"><figcaption id="caption-attachment-660" class="wp-caption-text">Nội Thất Honda CR-V</figcaption></figure>
                <div class="row row-small align-equal" id="row-47495185" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-157986922" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-22.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CỬA SỔ TRỜI TOÀN CẢNH PANORAMA (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Là điểm nhấn thời thượng tạo cảm giác thoáng đãng cũng như cung cấp ánh sáng tự nhiên, mang đến trải nghiệm lái lý thú.</p>
                        </div>
                    </div>



                    <div id="col-966077857" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-23.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">BẢNG ĐỒNG HỒ TRUNG TÂM 10.2 INCH (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Thiết kế cá tính với màn hình 10.2 inch hiển thị sắc nét, thuận tiện cho tầm mắt.</p>
                        </div>
                    </div>



                    <div id="col-870639919" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-24.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">LẪY GIẢM SỐ, LẪY CHUYỂN SỐ TÍCH HỢP TRÊN VÔ LĂNG</h3>
                            <p style="padding: 0px 5px; text-align: justify;">
                                Lẫy chuyển số tích hợp trên vô lăng (G, L, L AWD)<br>
                                Lẫy giảm tốc tích hợp trên vô lăng (e:HEV RS)
                            </p>
                        </div>
                    </div>



                    <div id="col-731630509" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-30.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">HỆ THỐNG ĐIỀU HÒA 2 VÙNG ĐỘC LẬP</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Giúp lọc khí &amp; khử mùi hiệu quả cho không gian luôn thoáng sạch</p>
                        </div>
                    </div>



                    <div id="col-1662418015" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-31.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐÈN TRANG TRÍ NỘI THẤT TINH TẾ (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Tạo điểm nhấn nổi bật cho không gian nội thất.</p>
                        </div>
                    </div>



                    <div id="col-1841442280" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-25.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">GHẾ DA THỂ THAO CAO CẤP (e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Thiết kế thể thao cao cấp với chỉ đỏ xuyên suốt tạo điểm nhấn sang trọng.</p>
                        </div>
                    </div>



                    <div id="col-2135818575" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-26.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CỬA GIÓ ĐIỀU HÒA HÀNG GHẾ THỨ 2 KẾT HỢP CỔNG SẠC TYPE C</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hiện đại và tiện dụng</p>
                        </div>
                    </div>



                    <div id="col-260109084" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-27.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">HỆ THỐNG ÂM THANH 12 LOA BOSE CAO CẤP (e: HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Cho bạn đắm mình thưởng thức âm thanh sống động.</p>
                        </div>
                    </div>



                    <div id="col-1288753797" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-32.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">MÀN HÌNH GIẢI TRÍ 9 INCH SẮC NÉT (L, L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hỗ trợ kết nối Apple CarPlay không dây và Android Auto.</p>
                        </div>
                    </div>



                    <div id="col-1437733655" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-34.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">KHÓA THẺ TỪ THÔNG MINH (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Thiết kế mỏng gọn như thẻ tín dụng, thay thế chìa khóa thông thường giúp bạn dễ dàng đóng, mở khóa xe.</p>
                        </div>
                    </div>






                    <style>
                        #row-47495185 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <div class="row row-small align-equal" id="row-47495185" style="display: grid !important; grid-template-columns: repeat(3, minmax(0, 1fr))!important; ">

                    <div id="col-1522558977" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-33.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">SẠC KHÔNG DÂY TIỆN LỢI ( L, L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Sạc không dây tiện lợi trong quá trình lái xe, đảm bảo không gián đoạn kết nối.</p>
                        </div>
                    </div>



                    <div id="col-831552654" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-28.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CỬA KÍNH ĐIỆN TỰ ĐỘNG LÊN XUỐNG 1 CHẠM CHỐNG KẸT (L, L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Giúp người lái dễ dàng thao tác khi di chuyển.</p>
                        </div>
                    </div>



                    <div id="col-373413886" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-noi-that-231025-29.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">TÍNH NĂNG NHỚ VỊ TRÍ GHẾ LÁI</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Ghi nhớ và điều chỉnh lại vị trí ghế ngồi mà người dùng đã thiết lập trước đó, tiết kiệm thời gian thiết lập lại vị trí ghế lái.</p>
                        </div>
                    </div>



                    <style>
                        #row-47495185 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Cong_nghe_Honda_CONNECT" ez-toc-data-id="#Cong_nghe_Honda_CONNECT"></span><span class="hahss">Công nghệ</span><br>
                    <span class="hbhss">Honda CONNECT</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;"><strong>Kết Nối Với Xe Của Bạn Bất Kỳ Nơi Đâu Với Honda CONNECT: </strong>Khám phá hệ thống Honda CONNECT ưu việt liên kết giữa xe và điện thoại thông minh bằng sóng di động, đảm bảo mang đến trải nghiệm tiện nghi, an toàn và an ninh tuyệt đối, đi kèm với tổng đài hỗ trợ 24/7.</p>
                <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-cn-231025-91.jpg" alt=""></p>
                <div id="gap-1516141224" class="gap-element clearfix" style="display:block; height:auto;">

                    <style>
                        #gap-1516141224 {
                            padding-top: 5px;
                        }
                    </style>
                </div>

                <h2>
                    <span class="ez-toc-section" id="Van_hanh_Honda_CR-V" ez-toc-data-id="#Van_hanh_Honda_CR-V"></span><span class="hahss">Vận hành</span><br>
                    <span class="hbhss">Honda CR-V. </span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Động cơ mạnh mẽ cho khả năng tăng tốc mượt mà, Honda CR-V mang đến cảm xúc phấn khích không ngừng để mỗi lần cầm lái là một trải nghiệm bứt phá đầy ấn tượng.</p>
                <p><img loading="lazy" decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-002b.jpg" alt="" width="1200" height="675"></p>
                <div class="row row-small align-equal" id="row-306913287">

                    <div id="col-1652394644" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-vh-231025-51.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">KHUNG XE</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Khung gầm cứng cáp giúp xe vận hành vững chắc &amp; ổn định, nâng cao độ an toàn cho người ngồi trên xe.</p>
                        </div>
                    </div>



                    <div id="col-410571070" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-vh-231025-52.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐỘNG CƠ MẠNH MẼ</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Động cơ 1.5L VTEC TURBO tăng tốc nhanh mà mạnh mẽ tương đương động cơ 2.4L thường nhưng tiết kiệm nhiên liệu tương đương động cơ 1.5L thường.</p>
                        </div>
                    </div>



                    <div id="col-1538994992" class="col small-12 large-12">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-vh-231025-53.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐỘNG CƠ HYBRID TIÊN TIẾN</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hệ thống Hybrid bao gồm một động cơ 4 xi lanh 2.0L Atkinson kết hợp với một cặp động cơ điện, mang lại công suất tối đa 204 mã lực, đem đến hiệu quả vận hành mạnh mẽ, khả năng tăng tốc vượt trội mà vẫn tiết kiệm nhiên liệu tối ưu.</p>
                        </div>
                    </div>



                    <style>
                        #row-306913287 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="An_toan_Honda_CR-V" ez-toc-data-id="#An_toan_Honda_CR-V"></span><span class="hahss">An toàn</span><br>
                    <span class="hbhss">Honda CR-V.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Honda CR-V mới trang bị nhiều tính năng an toàn hoàn toàn mới giúp chủ nhân luôn chủ động xử lý tình huống &amp; vững vàng bứt phá trong mọi hành trình</p>
                <p><img loading="lazy" decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-005b.jpg" alt="" width="1200" height="675"></p>
                <div class="row row-small align-equal" id="row-216447924" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-997372968" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-61.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">HIỂN THỊ THÔNG TIN TRÊN KÍNH LÁI (HUD) (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hiển thị &amp; cảnh báo tốc độ trên kính lái giúp việc lái xe dễ dàng &amp; an toàn.</p>
                        </div>
                    </div>



                    <div id="col-51393605" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-62.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">HONDA CR-V TRANG BỊ HỆ THỐNG 8 TÚI KHÍ</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hệ thống túi khí trước, túi khí bên, túi khí rèm hai bên &amp; nay có thêm túi khí đầu gối với tiêu chuẩn 5 sao an toàn tối ưu theo đánh giá của ASEAN NCAP.</p>
                        </div>
                    </div>



                    <div id="col-1910054079" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-63.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">CAMERA 360° (L AWD, e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Quan sát trên màn hình đa phương tiện giúp người lái dễ dàng đánh giá được khoảng cách xe với các vật thể xung quanh khi lùi xe.</p>
                        </div>
                    </div>



                    <div id="col-8994898" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-64.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">GƯƠNG CHIẾU HẬU</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Chỉnh điện, gập/mở tự động, tích hợp đèn báo rẽ LED.</p>
                        </div>
                    </div>



                    <div id="col-1289164238" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-66.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">
                                CẢM BIẾN ĐỖ XE TRƯỚC &amp; SAU (e:HEV RS)<br>
                                CẢM BIẾN ĐỖ XE SAU (L, L AWD)
                            </h3>
                            <p style="padding: 0px 5px; text-align: justify;">Giúp người lái đỗ xe tiện lợi, an toàn, hạn chế va chạm vật cản từ những điểm mù khó nhìn.</p>
                        </div>
                    </div>



                    <div id="col-1008441905" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-65.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐÈN VÀO CUA CHỦ ĐỘNG (e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Điều chỉnh góc chiếu theo hướng đánh lái, hỗ trợ người lái quan sát thuận tiện hơn.</p>
                        </div>
                    </div>



                    <style>
                        #row-216447924 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <h2><span class="ez-toc-section" id="Honda_SENSING" ez-toc-data-id="#Honda_SENSING"></span><span class="hbhss">Honda SENSING</span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Hệ Thống Công Nghệ Hỗ Trợ Lái Xe An Toàn Tiên Tiến <a href="https://www.honda.com.vn/o-to/chi-tiet/17" target="_blank" rel="noopener">Honda SENSING</a> Với hệ thống công nghệ thông minh hỗ trợ người lái vững vàng quan sát &amp; xử lý mọi tình huống, Honda CR-V bảo đảm an toàn để bạn vững tâm chinh phục mọi cung đường. *Các tính năng của Honda SENSING chỉ có vai trò hỗ trợ lái xe an toàn trong những điều kiện nhất định và không thể thay thế việc lái xe của người sử dụng. Hãy luôn chú ý quan sát và chủ động lái xe an toàn. Chi tiết về tính năng của Honda SENSING, vui lòng tham khảo trong Hướng dẫn sử dụng xe. XEM THÊM</p>
                <p><img loading="lazy" decoding="async" src="/images/HondaCRV/honda-cr-v-at-231025-32.jpg" alt="" width="1200" height="675"></p>
                <div class="row row-small align-equal" id="row-14938082" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-251403849" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-72.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">PHANH GIẢM THIỂU VA CHẠM (CMBS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Cảnh báo người lái khi phát hiện vật cản phía trước. Ngoài ra, trong trường hợp người lái không thể tránh khỏi va chạm, hệ thống sẽ tự động phanh để giảm thiểu thiệt hại</p>
                        </div>
                    </div>



                    <div id="col-89551243" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-73.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">THÔNG BÁO XE PHÍA TRƯỚC KHỞI HÀNH (LCDN)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Phát hiện và thông báo cho người lái trong trường hợp xe phía trước đã bắt đầu di chuyển sau khi dừng đỗ thông qua các cảnh báo bằng hình ảnh và âm thanh. Tính năng này đặc biệt hữu dụng trong các trường hợp dừng đỗ đèn đỏ.</p>
                        </div>
                    </div>



                    <div id="col-710373712" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-71.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">KIỂM SOÁT HÀNH TRÌNH THÍCH ỨNG BAO GỒM DẢI TỐC ĐỘ THẤP (ACC WITH LSF)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hỗ trợ duy trì khoảng cách với phương tiện phía trước khi lái xe trên đường cao tốc. Hệ thống sẽ tự động tăng tốc và giảm tốc giúp việc lái xe thoải mái hơn</p>
                        </div>
                    </div>



                    <div id="col-59014251" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-74.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐÈN PHA THÍCH ỨNG TỰ ĐỘNG (AHB)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Trong điều kiện lái xe vào ban đêm, hệ thống tự động chuyển đổi giữa đèn chiếu gần và đèn chiếu xa tùy thuộc vào tình trạng giao thông</p>
                        </div>
                    </div>



                    <div id="col-1280831977" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-74.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">ĐÈN PHA THÍCH ỨNG THÔNG MINH (ADB) (e:HEV RS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Đèn pha được chia thành các chùm sáng nhỏ theo chiều dọc, linh hoạt bật tắt thông minh mỗi chùm đèn khi nhận diện xe/người ở phía đối diện, giúp đảm bảo tầm nhìn mà không làm chói mắt đối phương.</p>
                        </div>
                    </div>



                    <div id="col-825779120" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-77.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">GIẢM THIỂU CHỆCH LÀN ĐƯỜNG (RDM)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Cảnh báo và hỗ trợ người lái đi đúng làn đường khi hệ thống phát hiện xe di chuyển quá gần hoặc đè lên vạch kẻ phân cách các làn đường</p>
                        </div>
                    </div>



                    <div id="col-2056525490" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-sensing-231025-78.jpg" alt=""></p>
                            <h3 style="font-size: 100%; padding: 0px 5px;">HỖ TRỢ GIỮ LÀN ĐƯỜNG (LKAS)</h3>
                            <p style="padding: 0px 5px; text-align: justify;">Hỗ trợ đánh lái để giữ cho xe luôn đi ở giữa làn đường, đồng thời hiển thị cảnh báo trong trường hợp xe đi chệch khỏi làn đường.</p>
                        </div>
                    </div>



                    <style>
                        #row-14938082 > .col > .col-inner {
                            background-color: rgb(245, 245, 245);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Cong_nghe_Honda_CR-V_Cong_nghe_e_HEV_HYBRID_tien_tien_vuot_troi" ez-toc-data-id="#Cong_nghe_Honda_CR-V_Cong_nghe_e_HEV_HYBRID_tien_tien_vuot_troi"></span><span class="hahss">Công nghệ</span><br>
                    <span class="hbhss">Honda CR-V. Công nghệ e:HEV HYBRID tiên tiến vượt trội.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Hệ thống Hybrid kết hợp xăng &amp; điện hoàn toàn mới mang đến trải nghiệm lái ngoạn mục, đậm phấn khích. Hơn nữa còn tiết kiệm nhiên liệu &amp; thân thiện với môi trường.</p>
                <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-231025-g-92.jpg" alt=""></p>
                <p>Nếu bạn đang tìm kiếm một mẫu SUV 7 chỗ hiện đại, rộng rãi, an toàn và tiết kiệm nhiên liệu, Honda CR-V 2025 chính là lựa chọn lý tưởng. Với mức giá lăn bánh Honda CR-V tháng 10/2025 hấp dẫn cùng nhiều khuyến mãi, ưu đãi và chương trình trả góp linh hoạt, đây là thời điểm vàng để sở hữu chiếc xe này.</p>
                <p><img draggable="false" style="width:30px!important; display:none;" role="img" class="emoji" alt="👉" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f449.svg"> Để được tư vấn chi tiết, lái thử xe và nhận báo giá tốt nhất, quý khách vui lòng liên hệ:</p>
                <p><img draggable="false" style="width:30px!important; display:none;" role="img" class="emoji" alt="📞" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f4de.svg"> Hotline/Zalo: <a href="tel:0901216386">0967.314.444</a> – Honda Ô Tô Phạm Văn Đồng, Hà Nội.</p>
                <p>Chúng tôi cam kết mang đến báo giá minh bạch, thủ tục nhanh chóng và dịch vụ hậu mãi tận tâm, giúp bạn an tâm trên mọi hành trình cùng Honda CR-V 2025.</p>
                <h2>
                    <span class="ez-toc-section" id="Thu_vien_anh_Honda_CR-V_moi" ez-toc-data-id="#Thu_vien_anh_Honda_CR-V_moi"></span><span class="hahss">Thư viện ảnh</span><br>
                    <span class="hbhss">Honda CR-V mới.</span><span class="ez-toc-section-end"></span>
                </h2>
                <div class="row row-small" id="row-1332459354">

                    <div id="col-14571801" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-005.jpg" alt=""></p>
                        </div>
                    </div>



                    <div id="col-851684198" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-001.jpg" alt=""></p>
                        </div>
                    </div>



                    <div id="col-1003891140" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-003.jpg" alt=""></p>
                        </div>
                    </div>



                    <div id="col-1120915835" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-002b.jpg" alt=""></p>
                        </div>
                    </div>



                    <div id="col-1850640020" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-006.jpg" alt=""></p>
                        </div>
                    </div>



                    <div id="col-756119592" class="col medium-4 small-12 large-4">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCRV/honda-cr-v-g-231025-004.jpg" alt=""></p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>




<script src="~/js/swiper-bundle.min.js"></script>
<script>
    // gallery
    var swiperSmallThumb = new Swiper(".thumb-small", {
        spaceBetween: 15,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
            nextEl: '.thumb-small .swiper-button-next',
            prevEl: '.thumb-small .swiper-button-prev',
        },
    });
    var swiperBigThumb = new Swiper(".thumb-big", {
        spaceBetween: 15,
        navigation: false,
        thumbs: {
            swiper: swiperSmallThumb,
        },
    });
 
</script>


