<style>
	.col-inner p img {
		width: 100%;
		height: auto;
		max-width: 888px; /* giữ giới hạn ảnh gốc nếu cần */
		max-height: 300px; /* giữ giới hạn ảnh gốc nếu cần */
		border-radius: 8px; /* bo góc nhẹ, tùy chọn */
		display: block;
		margin: 0 auto; /* căn giữa ảnh */
	}
</style>
<section class="section-details-product testimonial">
    <div class="container">
        <div class="wrap-details">
            <div class="gallery-product">
                <div class="swiper thumb-big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V1.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V2.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V3.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V4.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V5.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V6.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V7.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V8.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V9.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V10.jpg" alt="" />
                        </div>
                        
                    </div>
                </div>
                <div class="banner-swiper swiper thumb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V1.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V2.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V3.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V4.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V5.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V6.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V7.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V8.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V9.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/HondaHR-V10.jpg" alt="" />
                        </div>
                    </div>
                    <div class="swiper-button-prev">
                    </div>
                    <div class="swiper-button-next">
                    </div>
                </div>
            </div>

            <div class="product-card">
                <h1 class="product-title">Honda HR-V</h1>

                <div class="product-top">
                    <div class="product-price">
                        <span class="price-min">625.000.000 VNĐ</span>

                    </div>

                    <div class="">
                        <h2 style="border-radius: 3px; background-color: #e0e0e0; padding: 5px; font-size: 100%;">Honda HR-V Giá Xe Lăn Bánh Tháng 11/2025 ( Chi Tiết Từng Phiên Bản )</h2>
                        <ul style="font-size: 90%; color: black; text-transform: uppercase; padding-top: 5px; line-height: 20px;">
                            <li>Honda HR-V G​:<span style="color: #de0000;"> 625.000.000 VNĐ</span></li>
                            <li>Honda HR-V L​:<span style="color: #de0000;"> 699.000.000 VNĐ</span></li>
                            <li>Honda HR-V HEV RS​:<span style="color: #de0000;"> 809.000.000 VNĐ</span></li>
                        </ul>
                        <p style="border-radius: 3px; background-color: #de0000; padding: 5px; color: white; font-size: 80%;">
                            KHUYẾN MÃI &amp; ƯU ĐÃI<br>
                            <em>
                                *Quý Khách Liên Hệ SĐT/ Zalo:<a style="color: white;" href="tel:0901216386"> 096.731.4444</a> Để Được Nhận Thêm Khuyến Mại Từ 5 đến 20.000.000 VNĐ<br>
                                * Hỗ Trợ Trả Góp Lên Đến 90% Giá Trị Xe<br>
                                * Hỗ Trợ 100% Thuế Trước Bạ<br>
                                * Tặng Gói Phụ Kiện Cao Cấp Chính Hãng<br>
                                * Tặng Thẻ Dịch Vụ Vip Bảo Dưỡng<br>
                                * Bảo Hành Chính Hãng 3 Năm
                            </em>
                        </p>
                    </div>
                </div>
                <div class="row row-small" id="row-1389169234">
                    <div id="col-2056002333" class="col medium-7 small-12 large-7 about-omori" style="padding:0!important">
                        <div class="about-content">

                            <a href="#popup" class=" btn-primary open-popup">
                                <i class="icon-gift" aria-hidden="true"></i>	<span>Đăng ký</span>
                            </a>
                        </div>

                        <style>
                            #col-2056002333 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                    <div id="col-36535275" class="col medium-5 small-12 large-5 about-omori" style="padding:0!important">
                        <div class="about-content">
                            <a href="tel:0901216386" class=" btn-primary">
                                <i class="icon-phone" aria-hidden="true"></i>	<span>0901216386</span>
                            </a>
                        </div>
                        <style>
                            #col-36535275 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                </div>
                <hr class="divider" />

                <!-- ACCORDION SECTION -->

            </div>

        </div>

        <h3 class="title">Mô tả</h3>
		<div class="tab-panels">
			<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">


				<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g99.jpg" alt="Honda HR-V"></p>
				<p><a >Honda HR-V 2025</a> chính thức ra mắt với nhiều nâng cấp về thiết kế, công nghệ và an toàn. Tại đại lý Honda Phạm Văn Đồng, chúng tôi cập nhật chi tiết giá lăn bánh Honda HR-V tháng 11/2025 cho từng phiên bản, kèm theo các ưu đãi, khuyến mãi và chương trình trả góp hấp dẫn. Đây là lựa chọn hoàn hảo cho những ai đang tìm kiếm một chiếc SUV 5 chỗ gia đình tiện nghi, an toàn và mạnh mẽ.</p>
				<div id="gap-1994177572" class="gap-element clearfix" style="display:block; height:auto;">

					<style>
						#gap-1994177572 {
							padding-top: 10px;
						}
					</style>
				</div>

				<div class="row row-collapse row-full-width" id="row-2101007123">

					<div id="col-28185748" class="col small-12 large-12">
						<div class="col-inner">

							<div class="is-border" style="border-color:rgb(255, 255, 255);border-width:2px 0px 0px 2px;">
							</div>

							<p style="padding: 5px; text-align: justify;"><a href="/o-to/honda-hr-v/">Honda HR-V</a> là sự kết tinh hoàn hảo của hiệu suất vận hành năng động và phong cách thiết kế thanh lịch. Dù băng qua đô thị sôi động hay rong ruổi trên những cung đường, Honda HR-V sẽ là bạn đồng hành lý tưởng, mang đến trải nghiệm lái nâng tầm và đầy cảm hứng.</p>
						</div>
					</div>



					<style>
						#row-2101007123 > .col > .col-inner {
							background-color: rgb(236, 236, 236);
						}
					</style>
				</div>
				<div id="gap-855547616" class="gap-element clearfix" style="display:block; height:auto;">

					<style>
						#gap-855547616 {
							padding-top: 10px;
						}
					</style>
				</div>

			
				<div id="ez-toc-container" class="ez-toc-v2_0_76 counter-hierarchy ez-toc-counter ez-toc-grey ez-toc-container-direction">
					<div class="ez-toc-title-container">
						<p class="ez-toc-title" style="cursor:inherit">Mục Lục </p>
						<span class="ez-toc-title-toggle"><a href="#" class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle ez-toc-loaded" aria-label="Toggle Table of Content"><span class="ez-toc-js-icon-con"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #999;color:#999" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #999;color:#999" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></span></a></span>
					</div>
					<nav>
						<ul class="ez-toc-list ez-toc-list-level-1 ">
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-1" href="#Ngoai_that_Honda_HR-V_Thiet_ke_thanh_lich_%E2%80%93_Dinh_hinh_phong_cach">
									Ngoại thất
									Honda HR-V. Thiết kế thanh lịch – Định hình phong cách.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-2" href="#Noi_that_Honda_HR-V_Khong_gian_rong_rai_trai_nghiem_thu_thai">
									Nội thất
									Honda HR-V. Không gian rộng rãi trải nghiệm thư thái.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-3" href="#Cong_nghe_Cong_nghe_Hybrid_%E2%80%93_Nang_tam_trai_nghiem_lai">
									Công nghệ
									Công nghệ Hybrid – Nâng tầm trải nghiệm lái.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-4" href="#Van_hanh_Honda_HR-V_Van_hanh_vuot_troi_chinh_phuc_moi_hanh_trinh">
									Vận hành
									Honda HR-V. Vận hành vượt trội, chinh phục mọi hành trình.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-5" href="#An_toan_Honda_HR-V_An_toan_toi_da_%E2%80%93_An_tam_trai_nghiem">
									An toàn
									Honda HR-V. An toàn tối đa – An tâm trải nghiệm.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-6" href="#Thong_so_ky_thuat_xe_Honda_HR-V_moi">
									Thông số kỹ thuật xe
									Honda HR-V mới.
								</a>
							</li>
							<li class="ez-toc-page-1 ez-toc-heading-level-2">
								<a class="ez-toc-link ez-toc-heading-7" href="#Thu_vien_anh_Honda_HR-V_moi">
									Thư viện ảnh
									Honda HR-V mới.
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<h2>
					<span class="ez-toc-section" id="Ngoai_that_Honda_HR-V_Thiet_ke_thanh_lich_%E2%80%93_Dinh_hinh_phong_cach" ez-toc-data-id="#Ngoai_that_Honda_HR-V_Thiet_ke_thanh_lich_–_Dinh_hinh_phong_cach"></span><span class="hahss">Ngoại thất</span><br>
					<span class="hbhss">Honda HR-V. Thiết kế thanh lịch – Định hình phong cách.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p style="text-align: justify;">Honda HR-V chinh phục mọi ánh nhìn với thiết kế ngoại thất “Tinh tế trong từng chuyển động”, từng chi tiết được trau chuốt tỉ mỉ, tạo nên tổng thể sang trọng và đậm chất riêng.</p>
				<figure id="attachment_863" aria-describedby="caption-attachment-863" style="width: 1300px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="size-full wp-image-863" src="/images/HondaHRV/honda-hr-v-250408-ngt20.jpg" alt="Ngoại Thất Honda HR-V Mới" width="1300" height="731" srcset="/images/HondaHRV/honda-hr-v-250408-ngt20.jpg 1300w, /images/HondaHRV/honda-hr-v-250408-ngt20-675x380.jpg 675w, /images/HondaHRV/honda-hr-v-250408-ngt20-1200x675.jpg 1200w, /images/HondaHRV/honda-hr-v-250408-ngt20-768x432.jpg 768w" sizes="auto, (max-width: 1300px) 100vw, 1300px"><figcaption id="caption-attachment-863" class="wp-caption-text">Ngoại Thất Honda HR-V Mới</figcaption></figure>
				<div class="row row-small align-equal" id="row-1039911353" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

					<div id="col-1659856033" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt21.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Mặt trước xe nổi bật với ốp ca lăng mạ chrome tạo hình kim cương mang đến một diện mạo sắc sảo và cá tính (e:HEV RS).</p>
						</div>
					</div>



					<div id="col-2061321145" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt22.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Cụm đèn LED trước kết hợp với dải đèn xi nhan chạy đuổi tinh xảo (e:HEV RS).</p>
						</div>
					</div>



					<div id="col-636172867" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt23.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Cụm đèn hậu với dải đèn LED ngang mang đến vẻ ngoài thanh lịch và hiện đại.</p>
						</div>
					</div>



					<div id="col-123204567" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt25.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Đèn sương mù LED được bố trí hài hòa với cản trước, góp phần tôn lên diện mạo sang trọng</p>
						</div>
					</div>



					<div id="col-1145576808" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt24.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">La-zăng 18 inch đa chấu tạo sự mạnh mẽ và thời thượng cho chiếc xe le:HEV RS).</p>
						</div>
					</div>



					<div id="col-2130775758" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt29.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Tự động điều chỉnh mặt gương khi lùi (L, e:HEV RS).</p>
						</div>
					</div>



					<div id="col-1781378317" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt26.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Tay nắm cửa phía trước đóng/ mở bằng cảm biến tiện lợi</p>
						</div>
					</div>



					<div id="col-595559664" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt27.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Ăng-ten vây cá mập tạo điểm nhấn độc đáo.</p>
						</div>
					</div>



					<div id="col-815858632" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt28.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Gương chiếu hậu gập điện tự động tích hợp đèn báo rẽ LED hiện đại.</p>
						</div>
					</div>



					<style>
						#row-1039911353 > .col > .col-inner {
							background-color: rgb(243, 243, 243);
						}
					</style>
				</div>
				<h2>
					<span class="ez-toc-section" id="Noi_that_Honda_HR-V_Khong_gian_rong_rai_trai_nghiem_thu_thai" ez-toc-data-id="#Noi_that_Honda_HR-V_Khong_gian_rong_rai_trai_nghiem_thu_thai"></span><span class="hahss">Nội thất</span><br>
					<span class="hbhss">Honda HR-V. Không gian rộng rãi trải nghiệm thư thái.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p style="text-align: justify;">Tận hưởng trọn vẹn mọi hành trình với trải nghiệm êm ái trên ghế da sang trọng, hoà mình vào không gian nội thất rộng rãi và tiện nghi.</p>
				<figure id="attachment_873" aria-describedby="caption-attachment-873" style="width: 1300px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="size-full wp-image-873" src="/images/HondaHRV/honda-hr-v-250408-nt31.jpg" alt="Nội Thất Honda HR-V Mới" width="1300" height="731" srcset="/images/HondaHRV/honda-hr-v-250408-nt31.jpg 1300w, /images/HondaHRV/honda-hr-v-250408-nt31-675x380.jpg 675w, /images/HondaHRV/honda-hr-v-250408-nt31-1200x675.jpg 1200w, /images/HondaHRV/honda-hr-v-250408-nt31-768x432.jpg 768w" sizes="auto, (max-width: 1300px) 100vw, 1300px"><figcaption id="caption-attachment-873" class="wp-caption-text">Nội Thất Honda HR-V Mới</figcaption></figure>
				<div class="row row-small align-equal" id="row-487201097">

					<div id="col-1594263283" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-nt34.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Nội thất bọc da sang trọng với viền chỉ đỏ nổi bật, thể hiện tinh thần thể thao mạnh mẽ (e:HEV RS).</p>
						</div>
					</div>



					<div id="col-630002779" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-nt33.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Ghế lái chỉnh điện 8 hướng (L, e:HEV RS)</p>
						</div>
					</div>



					<div id="col-784508484" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-nt32.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Bệ tỳ tay hàng ghế sau tiện lợi, tăng thêm sự thoải mái và hữu dụng cho khách hàng.</p>
						</div>
					</div>



					<style>
						#row-487201097 > .col > .col-inner {
							background-color: rgb(243, 243, 243);
						}
					</style>
				</div>
				<h2>
					<span class="ez-toc-section" id="Cong_nghe_Cong_nghe_Hybrid_%E2%80%93_Nang_tam_trai_nghiem_lai" ez-toc-data-id="#Cong_nghe_Cong_nghe_Hybrid_–_Nang_tam_trai_nghiem_lai"></span><span class="hahss">Công nghệ</span><br>
					<span class="hbhss">Công nghệ Hybrid – Nâng tầm trải nghiệm lái.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p style="text-align: justify;">Hệ thống Hybrid kết hợp xăng và điện mang đến trải nghiệm tăng tốc mượt mà cùng khả năng tiết kiệm nhiên liệu vượt trội.</p>
				<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g97.jpg"></p>
				<div class="row row-small align-equal" id="row-1241512414">

					<div id="col-351387270" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-cn53.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Phanh Giảm Thiểu Va Chạm (CMBS) Cảnh báo người lái khi phát hiện vật cản phía trước. Ngoài ra, trong trường hợp người lái không thể tránh khỏi va chạm, hệ thống sẽ tự động phanh để giảm thiểu thiệt hại.</p>
						</div>
					</div>



					<div id="col-158814840" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-cn52.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Hỗ Trợ Giữ Làn Đường (LKAS) Hỗ trợ đánh lái để giữ cho xe luôn đi ở giữa làn đường, đồng thời hiển thị cảnh báo trong trường hợp xe đi chệch khỏi làn đường.</p>
						</div>
					</div>



					<div id="col-1141540053" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-cn51.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Thông báo xe phía trước khởi hành (LCDN) – Phát hiện và thông báo cho người lái trong trường hợp xe phía trước đã bắt đầu di chuyển sau khi dừng đỗ thông qua các cảnh báo bằng hình ảnh và âm thanh. Tính năng này đặc biệt hữu dụng trong các trường hợp dừng đỗ đèn đỏ.</p>
						</div>
					</div>



					<style>
						#row-1241512414 > .col > .col-inner {
							background-color: rgb(243, 243, 243);
						}
					</style>
				</div>
				<h2>
					<span class="ez-toc-section" id="Van_hanh_Honda_HR-V_Van_hanh_vuot_troi_chinh_phuc_moi_hanh_trinh" ez-toc-data-id="#Van_hanh_Honda_HR-V_Van_hanh_vuot_troi_chinh_phuc_moi_hanh_trinh"></span><span class="hahss">Vận hành</span><br>
					<span class="hbhss">Honda HR-V. Vận hành vượt trội, chinh phục mọi hành trình.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p style="text-align: justify;">Honda HR-V thế hệ thứ 2 – lần đầu tiên trang bị động cơ Hybrid, mang đến khả năng tăng tốc mượt mà và tối ưu hóa hiệu suất nhiên liệu, tạo nên trải nghiệm lái ổn định, êm ái nhưng cũng đầy cảm hứng trên mọi cung đường, đáp ứng nhu cầu di chuyển hiện đại và bền vững của khách hàng.</p>
				<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g98.jpg"></p>
				<h3><span class="hbhss">Hệ thống công nghệ hỗ trợ lái xe an toàn tiên tiến Honda SENSING</span></h3>
				<p style="text-align: justify;">Tất cả các phiên bản của HR-V mới đều được trang bị Hệ thống công nghệ hỗ trợ lái xe an toàn tiên tiến <a href="https://www.honda.com.vn/o-to/chi-tiet/21" target="_blank" rel="noopener">Honda SENSING</a>, bảo vệ toàn diện cho người lái, hành khách, người đi đường và các phương tiện xung quanh. Hệ thống bao gồm 6 tính năng ưu việt:</p>
				<div class="row row-small align-equal" id="row-2077261842">

					<div id="col-1952071517" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-vh61.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Lẫy chuyển số trên vô-lăng cho trải nghiệm lái thể thao và bứt phá mạnh mẽ.</p>
						</div>
					</div>



					<div id="col-618269564" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-vh62.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Hệ thống Hybrid tiên tiến (e:HEV RS) kết hợp động cơ xăng và động cơ điện để mang lại hiệu suất vận hành vượt trội, tiết kiệm nhiên liệu và trải nghiệm lái xe êm ái.</p>
						</div>
					</div>



					<div id="col-83565616" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-vh63.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Động cơ 1.5L 4 kỳ với 4 xi-lanh thẳng hàng giúp tăng tốc nhanh và mạnh mẽ nhưng vẫn tiết kiệm nhiên liệu (G, L). Hộp số vô cấp CVT giúp chuyển số mượt mà và mang đến cảm giác tăng tốc chân thật hơn cho người lái.</p>
						</div>
					</div>



					<style>
						#row-2077261842 > .col > .col-inner {
							background-color: rgb(243, 243, 243);
						}
					</style>
				</div>
				<h2>
					<span class="ez-toc-section" id="An_toan_Honda_HR-V_An_toan_toi_da_%E2%80%93_An_tam_trai_nghiem" ez-toc-data-id="#An_toan_Honda_HR-V_An_toan_toi_da_–_An_tam_trai_nghiem"></span><span class="hahss">An toàn</span><br>
					<span class="hbhss">Honda HR-V. An toàn tối đa – An tâm trải nghiệm.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p style="text-align: justify;">Với trang bị an toàn tiên tiến, Honda HR-V mang đến sự an tâm trên mọi chuyến đi, bảo vệ hành khách trên xe cũng như người đi đường ở cấp độ cao nhất.</p>
				<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g96.jpg"></p>
				<div class="row row-small align-equal" id="row-1784955121">

					<div id="col-310564121" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-a72.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Hệ thống 6 túi khí với tiêu chuẩn 5 sao an toàn tối ưu theo đánh giá của ASEAN NCAP (L, e: HEV RS).</p>
						</div>
					</div>



					<div id="col-1526896481" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-a71.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Chế độ quan sát làn đường (LaneWatch) qua hệ thống camera đặt ở gương chiếu hậu giúp quan sát và cảnh báo khoảng cách an toàn với phương tiện gần nhất (L, e:HEV RS).</p>
						</div>
					</div>



					<div id="col-1711307313" class="col medium-4 small-12 large-4">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-a73.jpg"></p>
							<p style="padding: 0px 10px; text-align: justify;">Cảm biến đỗ xe sau giúp người lái đỗ xe tiện lợi, an toàn, hạn chế va chạm vật cản từ những điểm mù khó nhìn.</p>
						</div>
					</div>



					<style>
						#row-1784955121 > .col > .col-inner {
							background-color: rgb(243, 243, 243);
						}
					</style>
				</div>
				<h2>
					<span class="ez-toc-section" id="Thong_so_ky_thuat_xe_Honda_HR-V_moi" ez-toc-data-id="#Thong_so_ky_thuat_xe_Honda_HR-V_moi"></span><span class="hahss">Thông số kỹ thuật xe</span><br>
					<span class="hbhss">Honda HR-V mới.</span><span class="ez-toc-section-end"></span>
				</h2>
				<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-tskt-01.jpg"> <img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-tskt-02.jpg"> <img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-tskt-03.jpg"></p>
				<div id="gap-696226555" class="gap-element clearfix" style="display:block; height:auto;">

					<style>
						#gap-696226555 {
							padding-top: 5px;
						}
					</style>
				</div>

				<p>Nếu bạn đang tìm kiếm một mẫu SUV 5 chỗ hiện đại, rộng rãi, an toàn và tiết kiệm nhiên liệu, Honda HR-V 2025 chính là lựa chọn lý tưởng. Với mức giá lăn bánh Honda HR-V tháng 11/2025 hấp dẫn cùng nhiều khuyến mãi, ưu đãi và chương trình trả góp linh hoạt, đây là thời điểm vàng để sở hữu chiếc xe này.</p>
				<p><img draggable="false" role="img" style="width:30px;" class="emoji" alt="👉" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f449.svg"> Để được tư vấn chi tiết, lái thử xe và nhận báo giá tốt nhất, quý khách vui lòng liên hệ:</p>
				<p><img draggable="false" role="img" style="width:30px;" class="emoji" alt="📞" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f4de.svg"> Hotline/Zalo: <a href="tel:0901216386">0967.314.444</a> – Honda Ô Tô Phạm Văn Đồng, Hà Nội.</p>
				<p>Chúng tôi cam kết mang đến báo giá minh bạch, thủ tục nhanh chóng và dịch vụ hậu mãi tận tâm, giúp bạn an tâm trên mọi hành trình cùng Honda HR-V 2025.</p>
				<h2>
					<span class="ez-toc-section" id="Thu_vien_anh_Honda_HR-V_moi" ez-toc-data-id="#Thu_vien_anh_Honda_HR-V_moi"></span><span class="hahss">Thư viện ảnh</span><br>
					<span class="hbhss">Honda HR-V mới.</span><span class="ez-toc-section-end"></span>
				</h2>
				<div class="row row-small" id="row-526868229">

					<div id="col-1957147564" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-ngt20.jpg"></p>
						</div>
					</div>



					<div id="col-815626368" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g97.jpg"></p>
						</div>
					</div>



					<div id="col-1962476924" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g96.jpg"></p>
						</div>
					</div>



					<div id="col-1329852936" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-g98.jpg"></p>
						</div>
					</div>



					<div id="col-644971542" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-nt31.jpg"></p>
						</div>
					</div>



					<div id="col-1779776443" class="col medium-6 small-12 large-6">
						<div class="col-inner">


							<p><img decoding="async" src="/images/HondaHRV/honda-hr-v-250408-nt35.jpg"></p>
						</div>
					</div>


				</div>
			</div>

		</div>
    </div>
</section>




<script src="~/js/swiper-bundle.min.js"></script>
<script>
    // gallery
    var swiperSmallThumb = new Swiper(".thumb-small", {
        spaceBetween: 15,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
            nextEl: '.thumb-small .swiper-button-next',
            prevEl: '.thumb-small .swiper-button-prev',
        },
    });
    var swiperBigThumb = new Swiper(".thumb-big", {
        spaceBetween: 15,
        navigation: false,
        thumbs: {
            swiper: swiperSmallThumb,
        },
    });

</script>


