<style>
    .col-inner p img {
        width: 100%;
        height: auto;
        max-width: 888px; /* giữ giới hạn ảnh gốc nếu cần */
        max-height: 300px; /* giữ giới hạn ảnh gốc nếu cần */
        border-radius: 8px; /* bo góc nhẹ, tùy chọn */
        display: block;
        margin: 0 auto; /* căn giữa ảnh */
    }

    .large-1 {
        display: grid !important;
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
</style>
<section class="section-details-product testimonial">
    <div class="container">
        <div class="wrap-details">
            <div class="gallery-product">
                <div class="swiper thumb-big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic1.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic2.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic3.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic4.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic5.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic6.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic7.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic8.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic9.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic10.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic11.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic12.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic12.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic13.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic14.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic15.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic16.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic17.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic18.jpg" alt="" />
                        </div>

                    </div>
                </div>
                <div class="swiper thumb-small">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic1.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic2.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic3.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic4.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic5.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic6.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic7.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic8.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic9.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic10.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic11.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic12.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic13.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic14.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic15.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic16.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic17.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Honda-Civic18.jpg" alt="" />
                        </div>
                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>

            </div>

            <div class="product-card">
                <h1 class="product-title">Honda HR-V</h1>

                <div class="product-top">
                    <div class="product-price">
                        <span class="price-min">625.000.000 VNĐ</span>

                    </div>

                    <div class="">
                        <h2 style="border-radius: 3px; background-color: #e0e0e0; padding: 5px; font-size: 100%;">Honda HR-V Giá Xe Lăn Bánh Tháng 11/2025 ( Chi Tiết Từng Phiên Bản )</h2>
                        <ul style="font-size: 90%; color: black; text-transform: uppercase; padding-top: 5px; line-height: 20px;">
                            <li>Honda HR-V G​:<span style="color: #de0000;"> 625.000.000 VNĐ</span></li>
                            <li>Honda HR-V L​:<span style="color: #de0000;"> 699.000.000 VNĐ</span></li>
                            <li>Honda HR-V HEV RS​:<span style="color: #de0000;"> 809.000.000 VNĐ</span></li>
                        </ul>
                        <p style="border-radius: 3px; background-color: #de0000; padding: 5px; color: white; font-size: 80%;">
                            KHUYẾN MÃI &amp; ƯU ĐÃI<br>
                            <em>
                                *Quý Khách Liên Hệ SĐT/ Zalo:<a style="color: white;" href="tel:0901216386"> 096.731.4444</a> Để Được Nhận Thêm Khuyến Mại Từ 5 đến 20.000.000 VNĐ<br>
                                * Hỗ Trợ Trả Góp Lên Đến 90% Giá Trị Xe<br>
                                * Hỗ Trợ 100% Thuế Trước Bạ<br>
                                * Tặng Gói Phụ Kiện Cao Cấp Chính Hãng<br>
                                * Tặng Thẻ Dịch Vụ Vip Bảo Dưỡng<br>
                                * Bảo Hành Chính Hãng 3 Năm
                            </em>
                        </p>
                    </div>
                </div>
                <div class="row row-small" id="row-1389169234">
                    <div id="col-2056002333" class="col medium-7 small-12 large-7 about-omori" style="padding:0!important">
                        <div class="about-content">

                            <a href="#popup" class=" btn-primary open-popup">
                                <i class="icon-gift" aria-hidden="true"></i>	<span>Đăng ký</span>
                            </a>
                        </div>

                        <style>
                            #col-2056002333 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                    <div id="col-36535275" class="col medium-5 small-12 large-5 about-omori" style="padding:0!important">
                        <div class="about-content">
                            <a href="tel:0901216386" class=" btn-primary">
                                <i class="icon-phone" aria-hidden="true"></i>	<span>0901216386</span>
                            </a>
                        </div>
                        <style>
                            #col-36535275 > .col-inner {
                                margin: -20px 0px 0px 0px;
                            }
                        </style>
                    </div>
                </div>
                <hr class="divider" />

                <!-- ACCORDION SECTION -->

            </div>


        </div>

        <h3 class="title">Mô tả</h3>
        <div class="tab-panels">
            <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">


                <p><img decoding="async" src="/images/HondaCivic/honda-civic-241030-g99.jpg" alt="Honda Civic"></p>
                <p><a>Honda Civic 2025</a> chính thức ra mắt với nhiều nâng cấp về thiết kế, công nghệ và an toàn. Tại đại lý Honda Phạm Văn Đồng, chúng tôi cập nhật chi tiết giá lăn bánh Honda Civic tháng 11/2025 cho từng phiên bản, kèm theo các ưu đãi, khuyến mãi và chương trình trả góp hấp dẫn. Đây là lựa chọn hoàn hảo cho những ai đang tìm kiếm một chiếc Sedan 5 chỗ gia đình tiện nghi, an toàn và mạnh mẽ.</p>
                <div class="row row-collapse row-full-width" id="row-1932602673">

                    <div id="col-1244055805" class="col small-12 large-12">
                        <div class="col-inner">


                            <p style="padding: 5px; text-align: justify;">Lần đầu tiên động cơ Hybrid được trang bị trên mẫu xe sedan thể thao – Civic e:HEV RS – mang lại khả năng vận hành đầy uy lực với công suất tối đa lên tới 200Hp mà vẫn đảm bảo tiết kiệm nhiên liệu vượt trội, đáp ứng nhu cầu di chuyển hiện đại và bền vững. Đặc biệt chế độ lái Individual giúp chủ nhân định hình phong cách và tận hưởng hành trình theo cách riêng.</p>
                            <p style="padding: 5px; text-align: justify;">Thiết kế ngoại thất tinh tế, khoẻ khoắn giúp nâng chất thể thao vốn có lên một tầm cao mới, thiết kế cản trước và mâm xe 7 chấu mới trên phiên bản Hybrid càng làm tăng thêm nét cuốn hút. Đảm bảo an toàn tiên tiến với Honda SENSING và bổ sung 8 cảm biến va chạm trước sau trên tất cả các phiên bản, giúp tất cả thành viên trên xe luôn an tâm và tận hưởng trọn vẹn niềm vui trong mỗi chuyến đi với Honda Civic mới.</p>
                        </div>
                    </div>



                    <style>
                        #row-1932602673 > .col > .col-inner {
                            background-color: rgb(236, 236, 236);
                        }
                    </style>
                </div>

                <div id="gap-661874136" class="gap-element clearfix" style="display:block; height:auto;">

                    <style>
                        #gap-661874136 {
                            padding-top: 10px;
                        }
                    </style>
                </div>

                <div id="ez-toc-container" class="ez-toc-v2_0_76 counter-hierarchy ez-toc-counter ez-toc-grey ez-toc-container-direction">
                    <div class="ez-toc-title-container">
                        <p class="ez-toc-title" style="cursor:inherit">Mục Lục </p>
                        <span class="ez-toc-title-toggle"><a href="#" class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle ez-toc-loaded" aria-label="Toggle Table of Content"><span class="ez-toc-js-icon-con"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #999;color:#999" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #999;color:#999" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></span></a></span>
                    </div>
                    <nav>
                        <ul class="ez-toc-list ez-toc-list-level-1 ">
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-1" href="#Ngoai_that_Honda_Civic_moi_The_thao_ca_tinh">
                                    Ngoại thất
                                    Honda Civic mới. Thể thao cá tính.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-2" href="#Noi_that_Honda_Civic_moi">
                                    Nội thất
                                    Honda Civic mới.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-3" href="#Van_hanh_Honda_Civic_Manh_me_va_khac_biet">
                                    Vận hành
                                    Honda Civic. Mạnh mẽ và khác biệt.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-4" href="#Cong_nghe_Honda_SENSING">
                                    Công nghệ
                                    Honda SENSING.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-5" href="#An_toan_Honda_Civic_An_toan_vuot_troi">
                                    An toàn
                                    Honda Civic. An toàn vượt trội.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-6" href="#Thong_so_ky_thuat_Honda_Civic_moi">
                                    Thông số kỹ thuật
                                    Honda Civic mới.
                                </a>
                            </li>
                            <li class="ez-toc-page-1 ez-toc-heading-level-2">
                                <a class="ez-toc-link ez-toc-heading-7" href="#Thu_vien_anh_Honda_Civic_moi">
                                    Thư viện ảnh
                                    Honda Civic mới.
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Ngoai_that_Honda_Civic_moi_The_thao_ca_tinh" ez-toc-data-id="#Ngoai_that_Honda_Civic_moi_The_thao_ca_tinh"></span><span class="hahss">Ngoại thất</span><br>
                    <span class="hbhss">Honda Civic mới. Thể thao cá tính.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;"><a href="/o-to/honda-civic/">Honda Civic</a> mới với diện mạo thời thượng và nam tính hơn. Lưới tản nhiệt mới được thiết kế với họa tiết lục giác độc đáo, kết hợp cùng cản trước sắc nét và hốc gió lớn không chỉ tăng cường tính thể thao mà còn tối ưu hóa tính khí động học, giúp xe di chuyển mượt mà hơn ngay cả ở tốc độ cao.</p>
                <p style="text-align: justify;">Đặc biệt, Civic mới (RS, e:HEV RS) được trang bị bộ mâm xe 18 inch với thiết kế đa chấu mạnh mẽ, giúp nâng tầm thiết kế thể thao và tối ưu khả năng bám đường khi lái. Đây chính là sự kết hợp hoàn hảo giữa thẩm mỹ và hiệu năng mà Honda hướng đến. Bên cạnh ngoại thất thể thao độc đáo.</p>
                <figure id="attachment_762" aria-describedby="caption-attachment-762" style="width: 1300px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="size-full wp-image-762" src="/images/HondaCivic/honda-civic-ngoai-that-241030-21.jpg" alt="Ngoại Thất Honda Civic Mới" width="1300" height="731" srcset="/images/HondaCivic/honda-civic-ngoai-that-241030-21.jpg 1300w, /images/HondaCivic/honda-civic-ngoai-that-241030-21-675x380.jpg 675w, /images/HondaCivic/honda-civic-ngoai-that-241030-21-1200x675.jpg 1200w, /images/HondaCivic/honda-civic-ngoai-that-241030-21-768x432.jpg 768w" sizes="auto, (max-width: 1300px) 100vw, 1300px"><figcaption id="caption-attachment-762" class="wp-caption-text">Ngoại Thất Honda Civic Mới</figcaption></figure>
                <div class="row row-small align-equal" id="row-1668972927" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-821216734" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-24.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Thiết kế lưới tản nhiệt cỡ lớn với họa tiết lục giác tạo nên vẻ bề thế và mạnh mẽ, hốc gió lớn thể thao giúp tăng tính khí</p>
                        </div>
                    </div>



                    <div id="col-1226950371" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-25.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Cụm đèn pha LED sắc nét và hiện đại cùng dàn đèn LED ban ngày giúp xe nổi bật trong mọi điều kiện ánh sáng.</p>
                        </div>
                    </div>



                    <div id="col-1252906290" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-26.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">La-zăng 18 inch thiết kế đa chấu thể thao làm nổi bật vẻ khỏe khoắn (RS, e:HEV RS).</p>
                        </div>
                    </div>



                    <div id="col-1850754512" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-27.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Gương chiếu hậu tự động gập tích hợp đèn báo rẽ LED hiện đại.</p>
                        </div>
                    </div>



                    <div id="col-144889960" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-28.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Tay nắm cửa phía trước đóng/ mở bằng cảm biến tiện lợi.</p>
                        </div>
                    </div>



                    <div id="col-365784119" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-29.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Ăng-ten vây cá mập tạo điểm nhấn độc đáo.</p>
                        </div>
                    </div>



                    <div id="col-1602542792" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-30.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Đèn hậu LED với thiết kế đặc trưng, tăng khả năng nhận diện và tạo điểm nhấn nổi bật cho phần đuôi xe.</p>
                        </div>
                    </div>



                    <style>
                        #row-1668972927 > .col > .col-inner {
                            background-color: rgb(243, 243, 243);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Noi_that_Honda_Civic_moi" ez-toc-data-id="#Noi_that_Honda_Civic_moi"></span><span class="hahss">Nội thất</span><br>
                    <span class="hbhss">Honda Civic mới. </span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Nội thất Honda Civic mới (phiên bản RS, e:HEV RS) được thiết kế chỉn chu với bảng đồng hồ trung tâm 10.2 inch, sang trọng với ghế bọc da lộn cùng đường viền chỉ đỏ tương phản như một điểm chấm phá hấp dẫn thị giác, góp phần tôn lên sự mạnh mẽ và phóng khoáng cho chủ nhân.</p>
                <p style="text-align: justify;">Honda Civic mới (RS, e:HEV RS) ứng dụng hệ thống tiện ích và giải trí hiện đại với: Hệ thống kết nối viễn thông ưu việt Honda CONNECT, hệ thống 12 loa Bose, 2 cổng sạc Type C, chế độ sạc và kết nối điện thoại thông minh không dây, màn hình giải trí 9 inch, ghế lái chỉnh điện 8 hướng, bản đồ định vị cùng điều hoà tự động 2 vùng.</p>
                <div class="row row-small align-equal" id="row-351848482" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-1496496031" class="col small-12 large-12">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-41.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Vô lăng tích hợp nút điều khiển đa thông tin, âm thanh, ra lệnh bằng giọng nói (RS, e:HEV RS) và đàm thoại rảnh tay.</p>
                        </div>
                    </div>



                    <div id="col-1083879400" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-42.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Bảng đồng hồ trung tâm điện tử 10.2 inch (RS, e:HEV RS) hiển thị sắc nét, cung cấp thông tin rõ ràng. Bảng đồng hồ có thể tùy chọn hiển thị thông tin bài nhạc, tình trạng cửa, thông số hành trình, … qua nút bấm trên vô lăng, đảm bảo sự tiện lợi mà vẫn giữ được sự tập trung tối đa khi cầm lái.</p>
                        </div>
                    </div>



                    <div id="col-1642555261" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-43.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Màn hình cảm ứng 9 inch hỗ trợ kết nối không dây điện thoại thông minh (RS, e:HEV RS) giúp bạn dễ dàng nghe nhạc, nhắn tin, xem bản đồ, … mang đến trải nghiệm giải trí trọn vẹn.</p>
                        </div>
                    </div>



                    <div id="col-1134575466" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-44.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống điều hòa 2 vùng tự động (RS, e:HEV RS) giúp duy trì nhiệt độ lý tưởng cho cả hàng ghế trước và sau.</p>
                        </div>
                    </div>



                    <div id="col-25333355" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-45.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống 12 loa BOSE cao cấp (RS, e:HEV RS) cho chất lượng âm thanh đa chiều sống động và chân thực, để mỗi chuyến hành trình thêm phần thi vị.</p>
                        </div>
                    </div>



                    <style>
                        #row-351848482 > .col > .col-inner {
                            background-color: rgb(243, 243, 243);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Van_hanh_Honda_Civic_Manh_me_va_khac_biet" ez-toc-data-id="#Van_hanh_Honda_Civic_Manh_me_va_khac_biet"></span><span class="hahss">Vận hành</span><br>
                    <span class="hbhss">Honda Civic. Mạnh mẽ và khác biệt.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Sở hữu chất thể thao bứt phá, Honda Civic chinh phục mọi cung đường với sức mạnh ấn tượng. Mỗi cú nhấn ga đều mang lại cảm nhận phấn khích, một cảm xúc thỏa mãn đam mê cầm lái chỉ có ở Honda Civic.</p>
                <p style="text-align: justify;">Honda Civic vốn được đánh giá cao với khối động cơ mạnh mẽ tạo nên khả năng vận hành vượt trội, mang lại cảm giác lái phấn khích và vô lăng nhạy bén giúp ôm cua linh hoạt. Phiên bản e:HEV RS của Civic mới sử dụng hộp số E-CVT gồm một mô tơ phát điện để sạc điện cho pin khi cần thiết và hỗ trợ vận hành mô tơ kéo.</p>
                <p style="text-align: justify;">Mô tơ kéo với vòng quay cực đại 2.000 vòng/phút sản sinh lực kéo mô tơ 315 Nm, không chỉ mang đến công suất vượt trội mà còn giúp tối ưu hóa hiệu suất nhiên liệu, tạo nên trải nghiệm lái ổn định, thể thao đầy cảm hứng trên mọi cung đường.</p>
                <p style="text-align: justify;">Động cơ xăng có thể được tách rời khỏi phần còn lại của hệ thống truyền động Hybrid, nên sẽ chỉ hoạt động khi cần thiết, tùy thuộc vào trạng thái sạc pin và các thông số khác. Khi vận hành, động cơ đốt trong 2.0L và mô tơ điện có thể sản sinh công suất cực đại lần lượt là 139 Hp ở vòng tua 6.000 vòng/phút và 181 Hp ở dải vòng tua 5.000 – 6.000 vòng/phút.</p>
                <p style="text-align: justify;">Khi cả động cơ đốt trong và mô tơ Hybrid cùng kết hợp sẽ sản sinh công suất cực đại lên tới 200 Hp (149 kW). Bởi vậy, Honda Civic e:HEV RS mới không chỉ duy trì khả năng vận hành thể thao vốn có mà còn làm tăng thêm khả năng tiết kiệm nhiên liệu lên tới 30% so với động cơ 1.5L VTEC TURBO và khả năng tăng tốc nhanh và mượt mà hơn.</p>
                <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-22.jpg"></p>
                <div class="row row-small align-equal" id="row-626208455" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-1678160836" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-66.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Chế độ khởi động bằng nút bấm.</p>
                        </div>
                    </div>



                    <div id="col-374565074" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-65.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Lẫy chuyển số tích hợp trên vô lăng cho trải nghiệm lái thể thao và bứt phá mạnh mẽ (RS, e:HEV RS).</p>
                        </div>
                    </div>



                    <div id="col-775384203" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-64.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống lái trợ lực điện mang đến phản hồi nhạy và chính xác, để mỗi chuyển động của vô lăng đều nhẹ nhàng dù vào cua hay chuyển hướng.</p>
                        </div>
                    </div>



                    <div id="col-2015427417" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-63.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống khung gầm bền chắc kết hợp cùng hệ thống treo giúp xe vận hành vững vàng và ổn định, đem đến niềm vui bất tận trên mọi cung đường.</p>
                        </div>
                    </div>



                    <div id="col-1633607620" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-62.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Động cơ 1.5L VTEC TURBO (G, RS) tăng tốc nhanh và mạnh mẽ tương đương động cơ 2.4L thường nhưng tiết kiệm nhiên liệu tương đương động cơ 1.5L thường.</p>
                        </div>
                    </div>



                    <div id="col-1393316151" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-61.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống Hybrid (e:HEV RS) bao gồm một động cơ 4 xi lanh 2.0L Atkinson kết hợp với một cặp mô tơ điện, mang lại công suất cực đại lên tới 200 mã lực, đem đến hiệu quả vận hành mạnh mẽ, khả năng tăng tốc vượt trội mà vẫn tiết kiệm nhiên liệu tối ưu.</p>
                        </div>
                    </div>



                    <style>
                        #row-626208455 > .col > .col-inner {
                            background-color: rgb(243, 243, 243);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Cong_nghe_Honda_SENSING" ez-toc-data-id="#Cong_nghe_Honda_SENSING"></span><span class="hahss">Công nghệ</span><br>
                    <span class="hbhss">Honda SENSING.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Honda Civic mang tới trải nghiệm đẳng cấp trong phân khúc Sedan hạng C cùng các công nghệ e:HEV độc quyền tân tiến, <a href="https://www.honda.com.vn/o-to/chi-tiet/19" target="_blank" rel="noopener">Honda SENSING</a> an toàn vượt trội và Honda CONNECT tiện ích. Tất cả các phiên bản của Honda Civic mới đều được trang bị Hệ thống công nghệ hỗ trợ lái xe an toàn tiên tiến Honda SENSING.</p>
                <div class="row row-small align-equal" id="row-905551687" style="display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr))!important; ">

                    <div id="col-1113165550" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-71.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Cảnh báo người lái khi phát hiện vật cản phía trước. Ngoài ra, trong trường hợp người lái không thể tránh khỏi va chạm, hệ thống sẽ tự động phanh để giảm thiểu thiệt hại.</p>
                        </div>
                    </div>



                    <div id="col-2060938675" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-72.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Phát hiện và thông báo cho người lái trong trường hợp xe phía trước đã bắt đầu di chuyển sau khi dừng đỗ thông qua các cảnh báo bằng hình ảnh và âm thanh. Tính năng này đặc biệt hữu dụng trong các trường hợp dừng đỗ đèn đỏ.</p>
                        </div>
                    </div>



                    <div id="col-580539156" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-73.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hỗ trợ duy trì khoảng cách với phương tiện phía trước khi lái xe trên đường cao tốc. Hệ thống sẽ tự động tăng tốc và giảm tốc giúp việc lái xe thoải mái hơn.</p>
                        </div>
                    </div>



                    <div id="col-1252350078" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-74.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Trong điều kiện lái xe vào ban đêm, hệ thống tự động chuyển đổi giữa đèn chiếu gần và đèn chiếu xa tùy thuộc vào tình trạng giao thông.</p>
                        </div>
                    </div>



                    <div id="col-679217272" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-75.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Cảnh báo và hỗ trợ người lái đi đúng làn đường khi hệ thống phát hiện xe di chuyển quá gần hoặc đè lên vạch kẻ phân cách các làn đường.</p>
                        </div>
                    </div>



                    <div id="col-1751173042" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-c-n-241030-76.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hỗ trợ đánh lái để giữ cho xe luôn đi ở giữa làn đường, đồng thời hiển thị cảnh báo trong trường hợp xe đi chệch khỏi làn đường.</p>
                        </div>
                    </div>



                    <style>
                        #row-905551687 > .col > .col-inner {
                            background-color: rgb(243, 243, 243);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="An_toan_Honda_Civic_An_toan_vuot_troi" ez-toc-data-id="#An_toan_Honda_Civic_An_toan_vuot_troi"></span><span class="hahss">An toàn</span><br>
                    <span class="hbhss">Honda Civic. An toàn vượt trội.</span><span class="ez-toc-section-end"></span>
                </h2>
                <p style="text-align: justify;">Honda Civic mới được trang bị các công nghệ an toàn chủ động và bị động tiên tiến, giúp bạn càng thêm tự tin vững tay lái và an tâm trên mọi hành trình.</p>
                <p style="text-align: justify;">Honda Civic mới được trang bị đầy đủ các tính năng an toàn chủ động và bị động như hệ thống 8 cảm biến va chạm và hệ thống 6 túi khí trên tất cả các phiên bản, cùng hệ thống quan sát làn đường Honda LaneWatch trên phiên bản RS và e:HEV RS giúp bảo vệ toàn diện cho người lái, hành khách, người đi đường và các phương tiện xung quanh.</p>
                <div class="row row-small align-equal" id="row-1098293662" style="display: grid !important; grid-template-columns: repeat(3, minmax(0, 1fr))!important; ">

                    <div id="col-1882272744" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-88.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống 6 túi khí với tiêu chuẩn 5 sao an toàn tối ưu theo đánh giá của ASEAN NCAP.</p>
                        </div>
                    </div>



                    <div id="col-144569152" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-87.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống cảnh báo chống buồn ngủ (Driver Attention Monitor) giúp giảm thiểu tình trạng mất tập trung khi điều khiển xe, nhắc nhở người lái nghỉ ngơi khi cần thiết thông qua cảnh báo bằng hình ảnh, âm thanh và rung vô lăng.</p>
                        </div>
                    </div>



                    <div id="col-1073691980" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-86.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Cảm biến đỗ xe trước sau giúp người lái đỗ xe tiện lợi, an toàn, hạn chế va chạm vật cản từ những điểm mù khó nhìn.</p>
                        </div>
                    </div>



                    <div id="col-251202173" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-84.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Chế độ quan sát làn đường (LaneWatch) qua hệ thống camera đặt ở gương chiếu hậu giúp quan sát và cảnh báo khoảng cách an toàn với phương tiện gần nhất (RS, e:HEV RS).</p>
                        </div>
                    </div>



                    <div id="col-483650277" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-83.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Chức năng nhắc nhở kiểm tra hàng ghế sau giúp bạn luôn kiểm tra xe trước khi bước xuống, đảm bảo sự an toàn và tiện tích tối đa.</p>
                        </div>
                    </div>



                    <div id="col-2092412095" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-89.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Phanh tay điện tử và chế độ giữ phanh tự động tiện lợi.</p>
                        </div>
                    </div>



                    <div id="col-1004415282" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-90.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Đèn báo phanh khẩn cấp tự động kích hoạt khi xe phanh đột ngột giúp hạn chế va chạm với các xe phía sau.</p>
                        </div>
                    </div>



                    <div id="col-44810609" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-91.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Camera lùi 3 góc quay hướng dẫn linh hoạt là trợ thủ đắc lực trong các tình huống lùi, dừng, đỗ xe.</p>
                        </div>
                    </div>



                    <div id="col-1351187444" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-92.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Chức năng khóa cửa tự động thực hiện khi bạn rời khỏi xe và mang theo chìa khóa ra khỏi vùng cảm biến mà không cần bấm nút khóa cửa trên chìa khóa (RS, e:HEV RS).</p>
                        </div>
                    </div>



                    <div id="col-968914843" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-83.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống hỗ trợ đánh lái chủ động (AHA) kiểm soát lực phanh trên từng bánh xe tương ứng với gia tốc và mức đánh lái, hỗ trợ người lái bám cua chính xác và tự tin.</p>
                        </div>
                    </div>



                    <div id="col-2144964168" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-82.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Hệ thống cân bằng điện tử (VSA) kiểm soát những thay đổi đột ngột, giữ cho xe luôn trong tầm kiểm soát của người lái.</p>
                        </div>
                    </div>



                    <div id="col-1215391003" class="col medium-4 small-12 ">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-81.jpg"></p>
                            <p style="padding: 0px 10px; text-align: justify;">Chế độ hỗ trợ khởi hành ngang dốc (HSA) giúp bạn an tâm và tự tin ở những cung đường dốc.</p>
                        </div>
                    </div>



                    <style>
                        #row-1098293662 > .col > .col-inner {
                            background-color: rgb(243, 243, 243);
                        }
                    </style>
                </div>
                <h2>
                    <span class="ez-toc-section" id="Thong_so_ky_thuat_Honda_Civic_moi" ez-toc-data-id="#Thong_so_ky_thuat_Honda_Civic_moi"></span><span class="hahss">Thông số kỹ thuật</span><br>
                    <span class="hbhss">Honda Civic mới.</span><span class="ez-toc-section-end"></span>
                </h2>
                <figure id="attachment_804" aria-describedby="caption-attachment-804" style="width: 1238px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="size-full wp-image-804" src="/images/HondaCivic/honda-civic-241030-tskt-scaled.jpg" alt="Bảng thông sỗ kỹ thuật xe ô tô Honda Civic mới." width="1238" height="2560" srcset="/images/HondaCivic/honda-civic-241030-tskt-scaled.jpg 1238w, /images/HondaCivic/honda-civic-241030-tskt-scaled-1200x2481.jpg 1200w, /images/HondaCivic/honda-civic-241030-tskt-768x1588.jpg 768w, /images/HondaCivic/honda-civic-241030-tskt-743x1536.jpg 743w, /images/HondaCivic/honda-civic-241030-tskt-991x2048.jpg 991w" sizes="auto, (max-width: 1238px) 100vw, 1238px"><figcaption id="caption-attachment-804" class="wp-caption-text">Bảng thông sỗ kỹ thuật xe ô tô Honda Civic mới.</figcaption></figure>
                <ul>
                    <li>Nếu bạn đang tìm kiếm một mẫu Sedan 5 chỗ hiện đại, rộng rãi, an toàn và tiết kiệm nhiên liệu, Honda Civic 2025 chính là lựa chọn lý tưởng. Với mức giá lăn bánh Honda Civic tháng 11/2025 hấp dẫn cùng nhiều khuyến mãi, ưu đãi và chương trình trả góp linh hoạt, đây là thời điểm vàng để sở hữu chiếc xe này.</li>
                </ul>
                <p><img draggable="false" style="width:30px;" role="img" class="emoji" alt="👉" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f449.svg"> Để được tư vấn chi tiết, lái thử xe và nhận báo giá tốt nhất, quý khách vui lòng liên hệ:</p>
                <p><img draggable="false" style="width:30px;" role="img" class="emoji" alt="📞" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f4de.svg"> Hotline/Zalo: <a href="tel:0901216386">0967.314.444</a> – Honda Ô Tô Phạm Văn Đồng, Hà Nội.</p>
                <p>Chúng tôi cam kết mang đến báo giá minh bạch, thủ tục nhanh chóng và dịch vụ hậu mãi tận tâm, giúp bạn an tâm trên mọi hành trình cùng Honda Civic 2025.</p>
                <h2>
                    <span class="ez-toc-section" id="Thu_vien_anh_Honda_Civic_moi" ez-toc-data-id="#Thu_vien_anh_Honda_Civic_moi"></span><span class="hahss">Thư viện ảnh</span><br>
                    <span class="hbhss">Honda Civic mới.</span><span class="ez-toc-section-end"></span>
                </h2>
                <div class="row row-small align-equal" id="row-1960734105" style="display: grid !important; grid-template-columns: repeat(3, minmax(0, 1fr))!important; ">

                    <div id="col-327559353" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-21.jpg"></p>
                        </div>
                    </div>



                    <div id="col-1595870409" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-ngoai-that-241030-22.jpg"></p>
                        </div>
                    </div>



                    <div id="col-917530336" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-241030-g96.jpg"></p>
                        </div>
                    </div>
                </div>
                <div class="row row-small align-equal" id="row-1960734105" style="display: grid !important; grid-template-columns: repeat(4, minmax(0, 1fr))!important;padding:10px ">
                    <div id="col-908549412" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-v-h-241030-64.jpg"></p>
                        </div>
                    </div>



                    <div id="col-1558369400" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-241030-g97.jpg"></p>
                        </div>
                    </div>



                    <div id="col-2135980452" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-a-t-241030-89.jpg"></p>
                        </div>
                    </div>



                    <div id="col-483238847" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <p><img decoding="async" src="/images/HondaCivic/honda-civic-noi-that-241030-45.jpg"></p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>




<script src="~/js/swiper-bundle.min.js"></script>
<script>
    // gallery
    var swiperSmallThumb = new Swiper(".thumb-small", {
        spaceBetween: 15,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
            nextEl: '.thumb-small .swiper-button-next',
            prevEl: '.thumb-small .swiper-button-prev',
        },
    });
    var swiperBigThumb = new Swiper(".thumb-big", {
        spaceBetween: 15,
        navigation: false,
        thumbs: {
            swiper: swiperSmallThumb,
        },
    });

</script>


